extends ../layout

block content
    style(type="text/css").
        table,td{
            border: 1px solid black
        }
        td {
        padding:3px
        }

    table
        tr
            //td= "ID"
            td= "Name"
            td= "Type"
        each sport in allSports
            tr
                //td= sport.id
                td= sport.name
                td= sport.type
    //ul
    //    each sport in allSports
    //        li= sport.id
    //        li= sport.name
    //        li= sport.type
    //    else
    //        li There are no sports...!

